{# ############### #}
{# Image Assets #}
{# ############### #}

{# {{class}}
{{ asset }}
{{alt}} #}

<section class="image">

    <img 
        class="{{class}}" 
        src="{{ asset }}" 
        alt="{{alt}}" 
    />

</section>